
@media (max-width:960px){
	html {
		background-image: none;
	}
	.top-block{
		visibility:hidden;
	}
	.profile-panel .button .text{
		white-space:nowrap;
		width: 70px;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	
	.content {
		margin: 5px 0;
		border-left:0;
		border-right: 0;
		min-width: 0;
		width:auto;
		box-sizing: border-box;
	}
	.header{
		width: auto;
		margin: 0;
		border-left:0;
		border-right: 0;
		height: 50px;
		padding: 0 7px;
	}
	.header .title{
		display: none;
	}
	.header .title-mobile{
		display: block;
	}
	.header .mobile-menu{
		display: block;
	}
	.main-div{
		min-width: 0;
	}
	
	ul.tabs{
		display: none;
	
	}
	.filter {
		text-align:left;
		font-size:10px;
	}
	
	.topic-table tr td:nth-child(1),
	.topic-table tr td:nth-child(4){
		display: none;
	}
	
	.private-table .topics tr td:nth-child(2),
	.private-table .topics tr td:nth-child(3),
	.private-table .topics tr td:nth-child(7),
	.private-table .topics tr td:nth-child(8) {
		display: none;
	}
	
	.servers-list{
		display:none;
	}
	.navigate .treesel,
	.navigate .tree{
		background: none;
		border:0;
		border-radius: 0;
		margin-left: 0;
	}
	.navigate .treesel{
		display: block;
		padding: 10px 14px 0 14px;
	}
	.navigate .tree:hover{
		background: none;
	}
	.posts .author-row{
		width: 70px;
	}
	.posts .login+img{
		max-width: 100%;
	}
	.posts .login{
		font-size: 10px;
	}
	.topics .author-row{
		padding: 5px 0;
		font-size: 10px;
	}
	.topics{
		overflow:hidden;
	}
	.topics .author,
	.topics .datetime{
		width:82px;
	}
	.posts .login img{
		display: none;
	}
	
	.posts .msg-row{
		overflow:hidden;
	}
	
	.posts .header-row .post-tools{
		display: block;
	}
	
	.pages{
		margin: 20px 0 0 0;
		padding: 4px 0 0 0;
		float:none;
		display: block;
		border-top-width: 1px;
	}
	.navigate{
		padding: 4px 0;
	}
	.navigate .pages .current,
	.navigate .pages a{
		padding: 4px 10px;
	}
	.pages .hintright,
	.pages .hintleft{
		/*display: none;*/
	}
	.right-panel{
		position: static;
		height: auto;
		padding:5px 15px;
		background-color:rgba(13,13,13, 0.5);
		background-image: none;
	}
	.right-panel .panel-link{
		display:inline-block;
		margin: 5px 15px;
	}
	.fixed-panel{
		visibility:hidden;
	}
	.sms-chat-img, .sms-chat-msg {
		display:none;
	}
	.mobile-showen-menu-back	{
		visibility:visible; 
	}
	.leftpanel{
		float:none;
		width: auto;
	}
	.centerpanel, .centerpanelc{
		margin-left: 7px;
	}
	.two-cols-table td{ 
		display: block; 
		width: auto;
	}
	ul.tabs li{
		display: inline-block;
	}
	ul.tabs .itemselect,
	ul.tabs .item{
		padding: 10px 10px;
	}
	ul.tabs .item:hover{
		background: none;
	}
	.topics .pages{
		display:none;
	}
	.posts .tool-row .finger{
		display: inline;
	}
	
	.tb-panel{
		margin: 5px 0;
		border-left: 0;
		border-right: 0;
		width:auto;
	}
	.tools .button{
		margin:0 10px 20px 10px;
	}
	.tools{
		height: auto;
	}
	
	.table-mutes tr td:nth-child(4),
	.table-mutes tr td:nth-child(5),
	.table-mutes tr td:nth-child(3) {
		display: none;
	}

	.support-table tr td:nth-child(1),
	.support-table tr td:nth-child(4),
	.support-table tr td:nth-child(5){
		display: none;
	}
	.forum-table tr td:nth-child(1),
	.forum-table tr td:nth-child(3),
	.forum-table tr td:nth-child(4) {
		display: none;
	}
	.forum-table{
		table-layout:fixed;
	}
	.navigate .pages .hintleft, .navigate .pages .hintright {
		display:none !important;
	}
/*	.navigate .pages .current+a+a,
	.navigate .pages .current+a+a+a,
	.navigate .pages .current+a+a+a+a{
		display:none;
	}
	.navigate .pages .separator+a,
	.navigate .pages .separator+a+a,
	.navigate .pages .separator+a+a+a,
	.navigate .pages .separator+a+a+a{
		display:none;
	}
	
	.navigate .pages .hintleft+a+a,
	.navigate .pages .hintleft+a+a+a,
	.navigate .pages .hintleft+a+a+a+a,
	.navigate .pages .hintleft+a+a+a+a+a,
	.navigate .pages .hintleft+a+a+a+a+a+a,
	.navigate .pages .hintleft+a+a+a+a+a+a+a,
	.navigate .pages .hintleft+a+a+a+a+a+a+a+a,
	.navigate .pages .hintleft+a+a+a+a+a+a+a+a+a{
		display:none;
	}*/
	
	.clans-table tr td:nth-child(1),
	.clans-table tr td:nth-child(6),
	.clans-table tr td:nth-child(7),
	.clans-table tr td:nth-child(8),
	.clans-table tr td:nth-child(9),
	.clans-table tr td:nth-child(10),
	.clans-table tr td:nth-child(11),
	.clans-table tr td:nth-child(12){
		display: none;
	}
	.teams-table tr td:nth-child(3),
	.teams-table tr td:nth-child(5),
	.teams-table tr td:nth-child(6),
	.teams-table tr td:nth-child(7),
	.teams-table tr td:nth-child(8),
	.teams-table tr td:nth-child(9){
		display: none;
	}
	
	.clans-topic-table tr td:nth-child(1),
	.clans-topic-table tr td:nth-child(4){
		display: none;
	}
	.clans-forum-table tr td:nth-child(1),
	.clans-forum-table tr td:nth-child(3),
	.clans-forum-table tr td:nth-child(4){
		display: none;
	}
	.bans-table tr td:nth-child(3),
	.bans-table tr td:nth-child(4){
		display: none;
	}
	.line-form .input{
		display: block;
		padding: 4px 15px;
	}
	.line-form .title{
		display:block;
		margin: 6px 7px;
	}
	.line-form select{
		margin: 0 7px;
	}
	.line-form input[type=submit]{
		margin: 6px 17px;
	}
	.online-table td{
		display:block;
		text-align: center;
	}
	.online-table .online-title{
		width: auto;
	}
	
	#clan-info{
		overflow:hidden;
	}
	.profile-block .desc{
		display:none;
	}
	.profile-panel .button .text{
		white-space:nowrap;
		width: 70px;
	    text-overflow: ellipsis;
    	overflow: hidden;
	}

	.bans-list-table tr td:nth-child(1),
	.bans-list-table tr td:nth-child(3),
	.bans-list-table tr td:nth-child(4),
	.bans-list-table tr td:nth-child(5){
		display: none;
	}
	.achiv{
		width:auto;
	}
	.clan-map-table tr td:nth-child(4),
	.clan-map-table tr td:nth-child(5),
	.clan-map-table tr td:nth-child(6){
		display: none;
	}
	
	.requests-table tr td:nth-child(1),
	.requests-table tr td:nth-child(3) {
		display: none;
	}
	
	.qiwi-table tr td:nth-child(2),
	.qiwi-table tr td:nth-child(3) {
		display: none;
	}
	
	.filelist tr td:nth-child(4),
	.filelist tr td:nth-child(5) {
		display: none;
	}
	
	.ui-dialog { max-width: 100%; }
	#img-frame { left: 0; }
	#img { max-width: 100%; }

	.bbcode-columns-tag {
		grid-template-columns: 1fr !important;
	}
}

@media (max-width: 320px){
	
}
